<!doctype html>
{% load i18n %}
<html>
    <head>
        <style type="text/css" media="screen">
            #clear_form { margin: 0 0 -24px 20em; }
            .meaning_form { display: inline-block; }
        </style>
    </head>
    <body>
        {% if analyzed_text %}
            <div class="analyzed-text">{{ analyzed_text }}</div>
        {% endif %}
        <form id="clear_form" method="get"
              action="{% url babelsearch-edit-vocabulary %}">{% csrf_token %}
            <input type="submit" value="{% trans "Clear" %}" />
        </form>
        <form method="post" action="{% url babelsearch-edit-vocabulary %}">{% csrf_token %}
            <div id="add_words_form">
                {{ words_form }}
            </div>
            <div id="meanings_formset">
                {% for form in meanings_formset.forms %}
                    <div class="meaning_form">
                        {{ form.meaning }}
                        {{ form.words }}
                    </div>
                {% endfor %}
                {{ meanings_formset.management_form }}
            </div>
            <div id="actions">
                <input type="submit" />
            </div>
        </form>
    </body>
</html>
